@font-face {
    font-family: 'Lato Regular';
    src: url(fonts/Lato-Hairline.ttf);
}

body {
    font-family: 'Lato Regular';
    font-size: 20px;
    font-weight: 600;
}

.container {
    position: absolute;
    width: 350px;
    height: 350px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.window {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f0efef;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: background 0.8s linear;
}

.sun {
    display: inline-block;
    position: relative;
    top: 40px;
    height: 60px;
    width: 60px;
    background: #ffd42a;
    border-radius: 50%;
    margin: 0 auto;
    left: 180px;
    transition: transform 0.8s linear, background 0.8s linear;
}

.the-fox {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 140px;
    margin: 0 40px;
    background: rgb(235, 66, 20);
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s;
}

.the-fox:before {
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-bottom: 50px solid rgb(235, 66, 20);
    top: -40px;
    left: 0;
    position: absolute;
    content: "";
}

.the-fox:after {
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 50px solid rgb(235, 66, 20);
    top: -40px;
    right: 0;
    position: absolute;
    content: "";
}

.window:hover .the-fox {
    transform: translate3d(0, 110px, 0);
}

.the-fox .eyes {
    display: block;
    position: absolute;
    background: #FFFFFF;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 90px;
}

.the-fox .eyes.left {
    left: 30px;
}

.the-fox .eyes.right {
    right: 30px;
}

.the-fox .nose {
    display: block;
    position: relative;
    background: #333;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 auto;
    top: 45px;
}

.the-fox .white-part {
    display: block;
    position: relative;
    width: 0;
    height: 0;
    top: 65px;
    border-style: solid;
    border-width: 80px 70px 0 60px;
    border-color: #ffffff transparent transparent transparent;
}

input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

label {
    position: absolute;
    height: 80px;
    width: 100px;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    margin: 0 auto;
}

.toggle {
    display: block;
    position: relative;
    height: 50px;
    width: 130px;
    margin: 0 auto 30px auto;
    background-color: #f0efef;
    border-radius: 20%;
}

.toggle .button {
    position: absolute;
    border-radius: 100%;
    background: #ffd42a;
    height: 32px;
    width: 32px;
    top: 9px;
    left: 7px;
}

.toggle .button {
    transition: transform 0.5s linear;
}

input[type=checkbox]:checked ~ .toggle .button {
    transform: translate3d(75px, 0, 0);
}

input[type=checkbox]:checked ~ .window {
    background: #222222;
}

input[type=checkbox]:checked ~ .window .sun {
    background-color: white;
    transform: translate3d(-140px, 15px, 0);
}

input[type=checkbox]:checked ~ .window .the-fox {
    background: #C74628;
    transform: translate3d(0, 110px, 0);
}

input[type=checkbox]:checked ~ .window .the-fox:after {
    border-bottom-color: #C74628;
}

input[type=checkbox]:checked ~ .window .the-fox:before {
    border-bottom-color: #C74628;
}

.sun-toggle-tip {
    position: absolute;
    top: -35px;
}
.tip {
    text-align: center;
    padding: 20px;
}
