.absolute-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@font-face {
  font-family: Lato Regular;
  font-style: normal;
  src: url("fonts/Lato-Hairline.ttf");
}
.container {
  font-family: Lato Regular;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  height: 350px;
}
.window {
  margin: 0 auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: #f0efef;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: background 800ms;
}
.window:hover .the-fox {
  transform: translate3d(0, 112px, 0);
}
.sun {
  display: inline-block;
  position: relative;
  top: 38px;
  left: 180px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #ffd42a;
  transition: transform 0.8s linear, background 0.8s linear;
}
.the-fox {
  position: absolute;
  left: 53px;
  bottom: 0;
  height: 140px;
  background-color: #eb4214;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s;
}
.the-fox:before {
  content: '';
  position: absolute;
  border-right: 70px solid transparent;
  border-bottom: 50px solid #eb4214;
  top: -40px;
}
.the-fox:after {
  content: '';
  position: absolute;
  border-left: 70px solid transparent;
  border-bottom: 50px solid #eb4214;
  top: -40px;
  right: 0;
}
.the-fox .eyes {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  bottom: 90px;
}
.the-fox .eyes .left {
  left: 30px;
}
.the-fox .eyes .right {
  right: 30px;
}
.the-fox .nose {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #000;
  margin: 0 auto;
  top: 45px;
}
.the-fox .white-part {
  position: relative;
  top: 60px;
  border-style: solid;
  border-width: 80px 70px 0 60px;
  border-color: #fff transparent transparent transparent;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-checkbox:checked .button {
  transform: translate3d(84px, 0, 0);
}
.toggle-checkbox:checked .window {
  background-color: #222;
}
.toggle-checkbox:checked .sun {
  background-color: #fff;
  transform: translate3d(-150px, 0, 0);
}
.toggle-checkbox:checked .the-fox {
  background-color: #c74628;
  transform: translate3d(0, 112px, 0);
}
.toggle-checkbox:checked .the-fox:after {
  background-color: #c74628;
}
.toggle-checkbox:checked .the-fox:before {
  background-color: #c74628;
}
.toggle-checkbox-label {
  z-index: 999;
  height: 50px;
  width: 130px;
  cursor: pointer;
}
.toggle {
  position: relative;
  height: 50px;
  width: 130px;
  background-color: #fff;
  border-radius: 20%;
  margin: 0 auto 30px auto;
}
.toggle .button {
  position: absolute;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #ffd42a;
  top: 9px;
  left: 7px;
  transition: transform 0.5s linear;
}
